body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: arial;
}

h1{
    color: #493a60;
    font-size: 50px;
}

nav{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:40px;
    width: 1500px;
    background-color: #d55315;
    position: sticky;
    top: 0;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 6px;
    margin-left: 100px;
    margin-right: 100px;
}

nav a:hover{
    color: #85242f;
}

.season{
    text-align: center;
    color: #493a60;
    font-size: 40px;
    margin-top: 50px;
}

.description{
    text-align: center;
    color: #493a60;
    font-size: 20px;
    margin-top: 30px;
}

#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#grid-parent h1{
    background-color: #85242f;
    padding:3vw 5vh;
    margin:3vw;
    width: 300px;
    height: 300px;
    color: white;
}

#show1{

}

#show1 p{
    font-size: 20px; 
}

#show2{

}

#show3{

}

#show4{

}

#show5{

}

#show6{

}

#show7{

}

#show8{

}

#show9{

}