.container {
    text-align: center;
    background-color: pink;
    color: red;
    width: 100vw;
    height: 150vh;
}

.volume-display {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: red; 
    border: dashed; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
}

button:hover {
    background-color: palevioletred;
}

.ball {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    border: dashed white; 
}