body {
    margin: 0;
  }
  
html {
    font-family: Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }

.image img{
    size: 10px;
}

.game{
    position: absolute;
    top: 12mm;
    right: 20mm;
    width: 400px;
    height: 50px;
    text-align: center;
    font: 20px white;
    background-color: white;
    border-top: 2mm solid navy;
    border-bottom: 2mm solid red;
    padding: 10px 0;
    color: black;
}

.nyy{
  position: absolute;
  top: 10mm;
  left: 20mm;
  width: 45px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 0px;
  background-color: navy;
  border: .5mm solid black;
}

.sox{
  position: absolute;
  top: 20mm;
  left: 20mm;
  width: 45px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 1.5px;
  background-color: red;
  border: .5mm solid black;
}

.nyyscore{
  position: absolute;
  top: 10mm;
  left: 32.5mm;
  width: 45px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 0px;
  background-color: white;
  border: .5mm solid black;
}

.soxscore{
  position: absolute;
  top: 20mm;
  left: 32.5mm;
  width: 45px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 1.5px;
  background-color: white;
  border: .5mm solid black;
}

.outs{
  position: absolute;
  top: 10mm;
  left: 45mm;
  width: 100px;
  height: 73px;
  text-align: center;
  font: 20px white;
  line-height: 1.5mm;
  background-color: white;
  border: .5mm solid black;
}

.homerun{
  position: absolute;
  top: 30mm;
  left: 20mm;
  width: 195px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 1.5px;
  background-color: white;
  border: .5mm solid black;
}

.mph{
  position: absolute;
  top: 30mm;
  left: 72mm;
  width: 100px;
  height: 35px;
  text-align: center;
  font: 20px white;
  line-height: 1.5px;
  background-color: white;
  border: .5mm solid black;
}

.bases{
  position: absolute;
  top: 10mm;
  left: 72mm;
  width: 100px;
  height: 73px;
  text-align: center;
  font: 20px white;
  line-height: 1.5px;
  background-color: white;
  border: .5mm solid black;
}