.container {
    text-align: center;
    background-color: pink;
    color: red;
    width: 100vw;
    height: 100vh;
}

.volume-display {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: red; 
    border: dashed; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
}

button:hover {
    background-color: palevioletred;
}

button, input[type="submit"] {
    background-color: red;
    border: dashed;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 20px;
}

button:hover, input[type="submit"]:hover {
    background-color: palevioletred;
}

.ball {
    width: 350px;
    height: 350px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    border: dashed white; 
}

.ball p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 40px;
    font-family: Arial, sans-serif; 
}